.pageContainer {
  padding-top: 4rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 56.25em) {
  .pageContainer {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
